<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bim.implantproject"
    android:versionCode="1"
    android:versionName="1.3" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    
    <application
        android:icon="@drawable/icon512"
        android:label="Implant Exercise"
        android:theme="@style/AppTheme" >
        <activity android:name="com.bim.implantproject.MainActivity" >
        </activity>
        <activity android:name="com.bim.implantproject.MassageActivity" >
        </activity>
        <activity android:name="com.bim.implantproject.SettingActivity" >
        </activity>
        <activity android:name="com.bim.implantproject.SecondPhase" >
        </activity>
        <activity android:name="com.bim.implantproject.VideoActivity" 
             >
        </activity>
        
        <activity
            android:name="com.bim.implantproject.NotificationView"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity android:name="com.bim.implantproject.ViewFlipperSampleActivity" >
        </activity>
        <activity android:name="com.bim.implantproject.armCircleSettingActivity" >
        </activity>
        <activity android:name="com.bim.implantproject.thirdSettingActivity" >
        </activity>
        
        <activity android:name="com.bim.implantproject.AddItemActivity" >
        </activity>
        
        <activity android:name="com.bim.implantproject.TermConditionActivity"
            android:theme="@android:style/Theme.Dialog"  >
        </activity>
        
        <activity
            android:name="com.bim.implantproject.ImplantProject"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <receiver android:name="com.bim.implantproject.NotificationBarAlarm" />
    </application>

</manifest>